*{
    border: 2px solid hsl(0, 30%, 85%);
    margin: 2px;
    padding: 5px;
}

div{

    h1 {
        border-radius: 5px;
        border: 3px solid blue;
    }
    h3 {
        border: 1px solid blue;
    }
}